.add-user-form {
  display: flex;
  flex-direction: column;
}

.add-user-form label {
  margin-top: 15px;
  font-weight: 700;
}

.add-user-form input {
  margin-top: 10px;
  padding: 10px;
}

.add-user-form button {
  width: 150px;
  padding: 10px 5px;
  border: none;
  font-size: 1rem;
  color: white;
  background-color: #4c0c56;
  margin-top: 20px;
  cursor: pointer;
}
